{% capture the_collection %}{{ page.collection }}{% endcapture %}
{% if page.collection %}
  {% assign document = site[the_collection] | sort: "date" | reversed %}
{% endif %}

{% for links in document %}
  {% if links.url == page.url %}
    {%- unless forloop.first -%}
      {%- assign prev = prev_doc -%}
    {%- endunless -%}
    {%- unless forloop.last -%}
      {%- assign next = document[forloop.index] -%}
    {%- endunless -%}
  {% endif %}
  {% assign prev_doc = links %}
{% endfor %}

{% if next == null %}
<nav class="pagination" style="justify-content:flex-end">
{% else %}
<nav class="pagination">
{% endif %}

{% if next %}
  <a href="{{ next.url }}" class="next-link">&larr; {{ next.title }} </a>
{% endif %}
{% if prev %}
  <a href="{{ prev.url }}" class="previous-link">{{ prev.title }} &rarr;</a>
{% endif %}
</nav>